.gyoujiInput {
  padding: 10px 0 0 10px;
  .contents {
    width: 700px;
    height: 300px;
  }
  .title1 {
    width:700px;
  }
  .title2 {
    width:700px;
  }
  .btn {
    width: 200px;
    margin: 20px;
  }
  .deletebtn {
    margin: 20px;
  }
}