.App {
        width: 100%;
        min-height: 100vh;
        display: flex;
        .main {
                flex:80%;
                margin: 0 auto;
                background-color: rgb(196, 212, 212);
        }
}